.video-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 5px 5px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #96E9DB;
}

.video-card:hover {
    transform: scale(1.05);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
}

video {
    padding: 0;
}

.video-card h3 {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 700;
    color: #333;
}

.video-text-content {
    padding-left: 30px;
}

.video-card p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #333;
    font-weight: 550;
}

.video-link {
    text-decoration: none;
}

.user-icon {
    margin-right: 10px;
}

.dot-icon {
    margin: 0 10px 4px 10px;
    font-size: 4px;
}

.comment-icon {
    margin-right: 5px;
}