.single-video-container {
    padding: 20px;
    position: relative;
}

.single-video-page {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
}

.main-video {
    flex: 2;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 20px;
    background-color: #e7f7f4;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
}

.main-video h2,
.main-video p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.title-edit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.video-title {
    flex: 1;
    margin-right: 20px;
}

.single-component-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}

.single-component-video-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
}

.edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: #FFD700;
    color: black;
}

.edit-button:hover {
    background-color: #FFC107;
}

.video-description {
    margin-top: 10px;
}

.rest-videos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.rest-video-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #96E9DB;
    border-radius: 20px;
}

.rest-video-item:last-child {
    border-bottom: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.single-video-link {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.single-video-link:hover {
    transform: scale(1.03)
}

.rest-videos-title {
    font-size: 18px;
    font-weight: 600;
}

.rest-video-text-content {
    margin-left: 20px;
}

.video-description {
    font-size: 1.1em;
}

.back-button {
    font-size: 24px;
}


/* media queries */
@media screen and (max-width: 900px) {
    .rest-videos-title {
        font-size: 16px;
        margin: 0;
    }

    .main-video {
        flex: 1.5;
    }

    .add-comment-button {
        font-size: 12px !important;
    }

    .edit-button {
        font-size: 12px;
    }

    .rest-video-text-content {
        margin: 0;
    }

    .comments-section p {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .single-component-video-title {
        font-size: 18px;
    }

    .video-description {
        font-size: 14px;
    }

    .video-meta-info-container p {
        font-size: 14px;
    }

    .single-video-comments-qty {
        font-size: 16px !important;
    }

    .comment-info p {
        font-size: 14px;
    }

    .single-component-video-wrapper {
        height: 220px;
    }

    .single-video-page {
        margin-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .single-video-page {
        flex-direction: column;
    }

    .main-video {
        width: 90%;
    }

    .rest-videos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 20px 0 0 0;
    }

    .rest-video-item {
        width: 86%;
        height: 90%;
    }

    .single-video-page {
        margin-top: 20px;
    }

    .back-button {
        font-size: 16px;
    }

    .single-video-page {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .rest-videos-title {
        font-size: 14px;
    }

    .comments-section p {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .add-comment-button {
        font-size: 10px;
    }

    .edit-button {
        font-size: 10px;
    }

    .dot-icon {
        margin: 0 5px 4px 5px;
        font-size: 3px;
    }

    .user-icon {
        margin: 0 5px;
    }

    .comments-section p {
        font-size: 11px;
    }
}