.comments-list {
    margin-top: 30px;
}

.comment-content {
    background-color: #E5E5E5;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    line-height: 0.2;
}

.comments-list p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}